.noscroll { 
    overflow: hidden;
  }

body{
    width:  100%;
    overflow: hidden;
    background-color: lightblue;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

header{
    position: relative;
    z-index: 10;
    color:orange;
    height: 75px;
    margin: auto;
    background-color: rgb(39, 109, 153);
}


.game_field{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 10px;
    padding-left: 5%;
    position: absolute;
    margin-top: 50px;
}

.game{
    height: 825px;
}
.level_menu{
    margin-top: -60px;
}

.level_screen{
    margin-top: -100px;
}
.menu{
    height: 100%;
    position: relative;
    z-index: 10;
    background-color: rgb(82, 116, 168);
}



.stages{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
}

.stage{
    width: 20%;
}

.button_pool{
    margin-left: 5px;
}
.return{
    position: relative;
    z-index: 10;
    height: 60px;
    background-color: rgb(82, 116, 168);
    padding-left: 5%;
}
.return button{
    margin-top: 5px;
    float: right;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('libraries/menu.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.command{
    margin-left: 10%;
    width: 33%;
    margin-top: 5px;
    text-align: center;
    border: 1px solid gray;
    color: rgb(0,0,0);
}

.command a{
    width:  100%;
}
.command :hover{
    background-color: rgb(39, 109, 153);
}

.command :active{
    background-color: rgb(82, 116, 168)
}

.command a::selection {
    background: transparent;
 }
.command a::-moz-selection {
    background: transparent;
 }
 .command::selection {
    background: transparent;
 }
.command::-moz-selection {
    background: transparent;
 }

 .stack{
     font-size: 0.7em;
     width: 100%;
     grid-column-start: 1;
     grid-column-end: 2;
     display: grid;
     grid-template-columns: repeat(10, minmax(140px, 140px) );
 }